@{
    ViewData["Title"] = "Carte";
}

@model IEnumerable<LaBonneAuberge.Models.Category>
<h1>Carte du moment</h1>


@foreach (var category in Model) {
    <h3>@category.Nom</h3>
    <ul>
        @foreach (var menu in category.Menus) {
            <li>@menu.Name</li>
        }
    </ul>
}

@* 

<h2>Entrées</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Prix</th>
    </tr>
    @foreach (var Menu in Model)
    {
        @foreach (var task in Category) {
            <tr>
            <td>@task.Id</td>
            <td>@task.Name</td>
            <td>@task.Description</td>
            <td>@task.Price</td>
        </tr>
            <li>@Category.Menu</li>
        }

        
    }
</table>
<h2>Plats</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Description</th>
        <th>Prix</th>
    </tr>
    @foreach (var task in Model)
    {
        <tr>
            <td>@task.Id</td>
            <td>@task.Name</td>
            <td>@task.Description</td>
            <td>@task.Price</td>
        </tr>
    }
</table>
<h2>Desserts</h2> *@
@* </LaBonneAuberge.Models.Task> *@