@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}  

@model IEnumerable<LaBonneAuberge.Models.TeamList>

@{
    ViewData["Title"] = "Index";
}

<div class="gestion"><h1 style="color: black;">Gestion du personnel :</h1>

<p>
    <a class="link" asp-action="Create">Nouveau membre</a>
</p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                <a class="link" asp-action="Edit" asp-route-id="@item.Id">Éditer</a> |
                <a class="link" asp-action="Delete" asp-route-id="@item.Id">Retirer</a>
            </td>
        </tr>
}
    </tbody>
</table>
